doctype html
html
  head
    title= title
    // Google Fonts - Roboto
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
    // Include Bootstrap CSS from CDN for styling
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    style.
      body {
        font-family: 'Roboto', sans-serif;
      }
  body
    block content
